html, body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
  background-color: #e5cb7a;
  font-family: 'Work Sans', sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: #e5cb7a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:last-child {
  border-right: none;
}

.dark-mode {
  background-color: black;
  color: white;
}

.footer-text {
  color: #fff !important;
}

.nav-item:hover {
  background-color: #847c632e;
  box-shadow: inset 0 0 0 1000px #e5ca7a2e;
  border-radius: 10px;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #e5ca7a2e;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  display: inline-block;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  background-color: #e5cb7a;
}

.svgIcon svg {
  display: inline-block;
  vertical-align: middle;
}

footer, h6
{
  background-color: #ec3521;
  color: #fff !important;
}

footer > p {
  color: #fff !important;
}

.card {
  box-shadow: inset 0 0 0 1000px #e5ca7a2e;
  border-radius: 10px;
}

.card-body {
  background-color: #450101 !important;
  color: #fff;
  box-shadow: inset 0 0 0 1000px #e5ca7a2e;
}

.btn-outline-secondary {
  color: #fff;
  background-color: #450101 !important;
  border-color: #450101 !important;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #590f0faf !important;
  border-color: #5d13137e !important;
}


.accordion-button,.accordion-header {
  background-color: #450101ca !important;
  border-radius: 10px;
  color: #fff !important;
}